body {
  color: #56463E;
  font-size: 16px;
  line-height: 1.4em;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #56463E #EE3E18;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: rgba(86, 70, 62, 0.11);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(86, 70, 62, 0.4);
  border-radius: 20px;
}

a {
  color: #56463E;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form-kta {
  text-align: center;
}

.form-kta input[type="text"] {
  display: block;
  padding: 15px;
  margin: 15px auto;
  border: none;
}

.form-kta input[type="checkbox"] {
  display: block;
}

.form-kta .btn {
  border: none;
}

.btn {
  display: inline-block;
  padding: 15px 50px;
  border-radius: 4px;
  font-weight: 700;
  text-transform: lowercase;
  background-repeat: no-repeat;
}

.btn:hover {
  background-color: #d9d9d9;
}

.btn-orange {
  background-color: #EE3E18;
  color: #ffffff;
  -webkit-box-shadow: 0px 9px 18px 3px rgba(238, 62, 24, 0.09);
          box-shadow: 0px 9px 18px 3px rgba(238, 62, 24, 0.09);
}

.btn-orange:hover {
  background-color: #f16648;
}

.btn-arr::after {
  content: '';
  width: 25px;
  height: 15px;
  margin-left: 15px;
  display: inline-block;
  background-image: url("../img/sprite_main.svg");
  background-position: -50px -52px;
}

.btn-arr:hover {
  color: #EE3E18;
  background-color: transparent;
}

.btn-play {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("../img/sprite_main.svg");
  background-position: 25px -192px;
}

.header {
  background-image: url("../img/header_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
}

.header_top-wrap {
  margin: 22px 0;
}

.header_top-wrap .menu-wrap li {
  display: inline-block;
  padding: 30px 15px 20px;
}

.header_top-wrap .menu-wrap li.active {
  border-bottom: 2px solid #56463E;
}

.header_top-wrap .menu-wrap li:hover {
  border-bottom: 2px solid #EE3E18;
}

.header_top-wrap .menu-wrap li:hover a {
  color: #EE3E18;
}

.header_top-wrap .phone-wrap {
  text-align: right;
  padding: 0 25px;
}

.header_top-wrap .phone-wrap .phone {
  padding: 25px 0;
  display: inline-block;
}

.header_top-wrap .phone-wrap li {
  position: relative;
  display: block;
  padding: 0 25px;
}

.header_top-wrap .phone-wrap li::after, .header_top-wrap .phone-wrap li::before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-image: url("../img/sprite_main.svg");
}

.header_top-wrap .phone-wrap li::after {
  opacity: 0;
}

.header_top-wrap .phone-wrap li::before {
  left: 0;
  background-position: -50px 0;
}

.header_top-wrap .phone-wrap li.first {
  padding-bottom: 10px;
}

.header_top-wrap .phone-wrap li.first::after {
  right: 0;
  opacity: 1;
  background-position: -80px 0;
}

.header_top-wrap .phone-wrap li:hover ul {
  display: block;
}

.header_top-wrap .phone-wrap li a {
  color: #EE3E18;
  padding: 0 10px;
}

.header_top-wrap .phone-wrap li ul {
  display: none;
  text-align: right;
  padding: 0 25px 10px;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #fff;
  width: 230px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.header_top-wrap .phone-wrap li ul li {
  padding: 10px 0 5px;
}

.header_top-wrap .phone-wrap li ul li::before {
  top: 5px;
}

.header_top-wrap .phone-wrap .whatsapp::before {
  background-position: -50px -25px;
  left: 0;
  top: 5px;
}

.header .content-wrap {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 55px 45px;
  margin: 100px 0;
  border-left: 3px solid #56463E;
}

.header .content-wrap .title {
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
}

.header .content-wrap p {
  margin: 35px 0;
}

.block_wrap {
  padding: 55px 0;
}

.block_wrap .title {
  font-size: 24px;
  line-height: 1.4em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.block_wrap.s1 {
  border-radius: 2px;
  background-color: #ffffff;
  padding: 55px 0;
  top: -55px;
  position: relative;
  margin-bottom: 75px;
}

.block_wrap.s1 .block_s1_wrap {
  top: -150px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  padding: 55px 85px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 9px rgba(86, 70, 62, 0.16);
          box-shadow: 0px 2px 9px rgba(86, 70, 62, 0.16);
}

.block_wrap.s1 .block_s1_wrap .title {
  padding: 0 0 25px;
  display: block;
}

.block_wrap.s1 .block_s1_wrap .block_content .icon {
  background-image: url("../img/sprite_main.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
  float: left;
  margin-right: 15px;
}

.block_wrap.s1 .block_s1_wrap .block_content .icon.b1 {
  background-position: 0 0;
}

.block_wrap.s1 .block_s1_wrap .block_content .icon.b2 {
  background-position: 0 -50px;
}

.block_wrap.s1 .block_s1_wrap .block_content .icon.b3 {
  background-position: 0 -100px;
}

.block_wrap.s2 {
  padding: 75px 0;
}

.block_wrap.s2 .content-wrap {
  padding: 75px 0;
}

.block_wrap.s2 .content-wrap .title {
  text-align: left;
  margin-bottom: 45px;
}

.block_wrap.s2 .content-wrap p {
  margin-bottom: 70px;
}

.block_wrap.s3 .title {
  margin-bottom: 55px;
}

.block_wrap.s3 .block {
  text-align: center;
}

.block_wrap.s3 .block .icon {
  background-image: url("../img/sprite_main.svg");
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

.block_wrap.s3 .block h4 {
  text-transform: uppercase;
}

.block_wrap.s3 .block.b1 .icon {
  background-position: -140px 0;
}

.block_wrap.s3 .block.b2 .icon {
  background-position: -240px 0;
}

.block_wrap.s3 .block.b3 .icon {
  background-position: -240px 0;
}

.block_wrap.s3 .block.b4 .icon {
  background-position: -140px -100px;
}

.block_wrap.s3 .block.b5 .icon {
  background-position: -240px -100px;
}

.block_wrap.s3 .block.b6 .icon {
  background-position: -340px -100px;
}

.block_wrap.s3 .block.b7 .icon {
  background-position: -140px -200px;
}

.block_wrap.s3 .block.b8 .icon {
  background-position: -240px -200px;
}

.block_wrap.s4 .tabs_wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 55px;
  text-align: center;
}

.block_wrap.s4 .tabs_wrap .tab {
  cursor: pointer;
  padding: 20px 90px;
  background: #F7F6F5;
  display: inline-block;
  color: #56463E;
  margin-bottom: 45px;
}

.block_wrap.s4 .tabs_wrap #one-tab {
  border-radius: 2px 0 0 2px;
}

.block_wrap.s4 .tabs_wrap #two-tab {
  border-radius: 0 2px 2px 0;
}

.block_wrap.s4 .tabs_wrap .panels {
  background: #fffffff6;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  padding: 20px;
}

.block_wrap.s4 .tabs_wrap .panel {
  display: none;
  -webkit-animation: fadein .8s;
          animation: fadein .8s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.block_wrap.s4 .tabs_wrap .panel-title {
  font-size: 1.5em;
  font-weight: bold;
}

.block_wrap.s4 .tabs_wrap .radio {
  display: none;
}

.block_wrap.s4 .tabs_wrap #one:checked ~ .panels #one-panel,
.block_wrap.s4 .tabs_wrap #two:checked ~ .panels #two-panel {
  display: block;
}

.block_wrap.s4 .tabs_wrap #one:checked ~ .tabs #one-tab,
.block_wrap.s4 .tabs_wrap #two:checked ~ .tabs #two-tab {
  background: #56463E;
  color: #fff;
  -webkit-box-shadow: 0px 4px 12px rgba(86, 70, 62, 0.28);
          box-shadow: 0px 4px 12px rgba(86, 70, 62, 0.28);
}

.block_wrap.s4 .block-wrap {
  text-align: left;
  -webkit-box-shadow: 0px 2px 9px rgba(86, 70, 62, 0.16);
          box-shadow: 0px 2px 9px rgba(86, 70, 62, 0.16);
  border-radius: 2px;
}

.block_wrap.s4 .block-wrap .img-wrap {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  padding: 95px 0 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.block_wrap.s4 .block-wrap .img-wrap .text-wrap {
  background-color: #fff;
  padding: 25px 45px;
  border-left: 2px solid #56463E;
  display: inline-block;
}

.block_wrap.s4 .block-wrap .img-wrap .title_2 {
  text-transform: uppercase;
  font-weight: 700;
}

.block_wrap.s4 .block-wrap .img-wrap p {
  margin-bottom: 0;
}

.block_wrap.s4 .block-wrap .btn-orange {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.block_wrap.s4 .block-wrap .content-wrap {
  padding: 25px 45px 20px;
  height: 455px;
  overflow: auto;
}

.block_wrap.s4 .block-wrap .btn-orange {
  background-color: #F7F6F5;
  color: #56463E;
  width: 100%;
  text-align: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.block_wrap.s4 .block-wrap .btn-orange:hover {
  background-color: #EE3E18;
  color: #fff;
}

.block_wrap.s4 .block-wrap p.disable {
  color: rgba(86, 70, 62, 0.5);
}

.block_wrap.s4 .block-wrap.b1 .img-wrap {
  background-image: url("../img/b4_pic-1.jpg");
}

.block_wrap.s4 .block-wrap.b2 .img-wrap {
  background-image: url("../img/b4_pic-2.jpg");
}

.block_wrap.s4 .block-wrap.b3 .img-wrap {
  background-image: url("../img/b4_pic-3.jpg");
}

.block_wrap.s4 .block-wrap.b4 .img-wrap {
  background-image: url("../img/b4_pic-4.jpg");
}

.block_wrap.s4 .block-wrap.b5 .img-wrap {
  background-image: url("../img/b4_pic-5.jpg");
}

.block_wrap.s4 .block-wrap.b6 .img-wrap {
  background-image: url("../img/b4_pic-6.jpg");
}

.block_wrap.s5 {
  background-image: url("../img/kta_bg-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}

.block_wrap.s5 .content-wrap {
  text-align: left;
  background-color: #fff;
  padding: 75px 0 75px 50px;
}

.block_wrap.s5 .content-wrap .title {
  text-align: left;
  margin-bottom: 25px;
}

.block_wrap.s5 .content-wrap .btn {
  margin-top: 25px;
}

.block_wrap.s5 .sale-wrap {
  margin-top: 75px;
}

.block_wrap.s5 .sale-wrap .block {
  background-color: #fff;
  text-align: center;
  margin-bottom: 15px;
}

.block_wrap.s5 .sale-wrap .b-hour {
  display: inline-block;
  width: 23%;
  margin-left: 5px;
  padding: 45px 15px;
}

.block_wrap.s5 .sale-wrap .b-hour b {
  font-size: 32px;
  font-weight: 700;
}

.block_wrap.s5 .sale-wrap .b-hour p {
  margin: 0;
}

.block_wrap.s5 .sale-wrap .b-text {
  padding: 15px;
}

.block_wrap.s5 .sale-wrap .b-text-2 {
  padding: 55px 0;
}

.block_wrap.s6 .title {
  margin-bottom: 55px;
}

.block_wrap.s6 .block {
  background-color: #ccc;
  display: inline-block;
  vertical-align: top;
  float: left;
  margin: 5px;
}

.block_wrap.s6 .block:hover .content-wrap {
  opacity: 1;
}

.block_wrap.s6 .block .content-wrap {
  padding: 55px 20px 30px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #fff;
}

.block_wrap.s6 .block .content-wrap p {
  margin-top: 30px;
}

.block_wrap.s6 .block .content-wrap .user {
  font-weight: 700;
  position: relative;
  height: 35px;
}

.block_wrap.s6 .block .content-wrap .user .icon {
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background-color: #dddddd;
  background-image: url("../img/sprite_main.svg");
  background-repeat: no-repeat;
}

.block_wrap.s6 .block .content-wrap .user-customer {
  padding: 7px 0 0 50px;
}

.block_wrap.s6 .block .content-wrap .user-customer .icon {
  background-position: -54px -107px;
}

.block_wrap.s6 .block .content-wrap .user-business {
  padding: 0 0 0 50px;
}

.block_wrap.s6 .block .content-wrap .user-business .icon {
  background-position: -104px -107px;
}

.block_wrap.s6 .block.b-1 {
  width: 500px;
  height: 500px;
}

.block_wrap.s6 .block.b-2 {
  width: 245px;
  height: 245px;
}

.block_wrap.s6 .block.b-3 {
  width: 500px;
  height: 245px;
}

.block_wrap.s6 .block.portfolio-1 {
  background-image: url("../img/portfolio/1.jpg");
  background-size: cover;
}

.block_wrap.s6 .block.portfolio-1 .content-wrap {
  background-color: transparent;
  position: relative;
  height: 100%;
  width: 100%;
}

.block_wrap.s6 .block.portfolio-1 .content-wrap .btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
}

.block_wrap.s6 .block.portfolio-2 {
  background-image: url("../img/portfolio/2.jpg");
  background-size: cover;
}

.block_wrap.s6 .block.portfolio-3 {
  background-image: url("../img/portfolio/3.jpg");
  background-size: cover;
}

.block_wrap.s6 .block.portfolio-4 {
  background-image: url("../img/portfolio/4.jpg");
  background-size: cover;
}

.block_wrap.s6 .block.portfolio-5 {
  background-image: url("../img/portfolio/5.jpg");
  background-size: cover;
}

.block_wrap.s6 .block.portfolio-6 {
  background-image: url("../img/portfolio/6.jpg");
  background-size: cover;
}

.block_wrap.s6 .block.portfolio-7 {
  background-image: url("../img/portfolio/7.jpg");
  background-size: cover;
}

.block_wrap.s6 .block.portfolio-8 {
  background-image: url("../img/portfolio/8.jpg");
  background-size: cover;
}

.block_wrap.s7 {
  background-image: url("../img/kta_bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.block_wrap .form-kta input[type="text"],
.block_wrap .form-kta .checkbox-wrap,
.block_wrap .form-kta .btn {
  width: 520px;
}

.block_wrap .form-kta .checkbox-wrap {
  background-color: #fff;
  padding: 15px 15px 15px 45px;
  margin: 25px auto 0;
  font-size: 14px;
  position: relative;
}

.block_wrap .form-kta .checkbox-wrap #accept {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
}

.block_wrap .form-kta .checkbox-wrap #accept + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.block_wrap .form-kta .checkbox-wrap #accept + label::before {
  content: '';
  display: inline-block;
  width: 2em;
  height: 2em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.block_wrap .form-kta .checkbox-wrap .text {
  text-align: left;
}
/*# sourceMappingURL=style.css.map */